@model WelcomeVM


<section class="blog-page-header">
    <div class="header-img-overlay-black"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  text-white">
                <h1>Bella Pizza-ya xoş gəlmisiniz!</h1>
                <p class="lead">
                    Bella Pizza - gülərüz personal, münasib qiymətlər, rahat interyer və ən əsası
                    şəhərin ən ləzzətli pizzası deməkdir! Burada yalnız təzə xəmir və ən keyfiyyətli məhsullar
                    istifadə olunur!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about-page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto about-page-box">
                <div class="about-reservation-box">
                    <div class="text-center reservation-text">
                        <h2 class="section-title">@Model.Reservation.Title</h2>
                        <p class="section-text-grey">
                            Bella Pizza-nın möhtəşəm təamlarını dadmaq üçün kafemizdə rezervasiyanı elə indi
                            edin! Bunun üçün
                            @Html.Raw("<span>bütün operatorlardan</span>") <a itemprop="telephone" href="tel:*1717">*1717 </a>
                            nömrəsinə zəng edə ya da  <a itemprop="telephone" href="tel:@Model.AppDetail.PhoneNumber">
                                <strong class=""> @Model.AppDetail.PhoneNumber</strong>
                            </a>
                            whatsapp nömrəsinə yaza bilərsiniz! Sizi səbirsizliklə gözləyirik!
                        </p>
                        <a class="btn link-btn " href="tel:*1717">zəng et</a>
                    </div>
                    <div>
                        <img src="~/images/@Model.Reservation.Image" alt="" class="img-fluid w-100">
                    </div>
                </div>
                <div class="about-side">
                    <div class="about-image-box">
                        <img src="~/images/@Model.Reservation.ImageTwo" alt="" class="img-fluid w-100">
                    </div>
                    <div class="text-center about-box-text">
                        <h2 class="section-title">@Model.Reservation.TitleTwo</h2>
                        <div class="section-text-grey">
                            <p>
                               @Model.Reservation.DescriptionTwo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mealslider">
    <div class="container-fluid">
        <div class="row">
            @foreach (MealSlider mealSlider in Model.MealSliders)
            {
                <div class="col-lg-3 col-sm-6 mx-auto main-manu-box"
                     style="background-image: url('/images/@mealSlider.Image')">
                    <div class="image-overlay-black"></div>
                    <div class="text-center main-manu-text-box">
                        <img src="/app/templates/main/img/icon_lines.png" alt="" width="16" class="my-4">
                        <div class="main-manu-text">
                            <h3><a asp-controller="MenuProduct" asp-action="MenuProduct" asp-route-Id="@mealSlider.MenuGroupId">@mealSlider.Title</a></h3>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<section class="about-page-points">
    <div class="container">
        <div class="row">
            @foreach (AboutPagePoints aboutPagePoints in Model.AboutPagePoints)
            {
                <div class="col-lg-3 mx-auto">
                    <div class="text-center about-section-targets">
                        <i class="fas fa-utensils fa-3x my-3" aria-hidden="true"></i>
                        <h2 class="section-title">@aboutPagePoints.Title</h2>
                        <p class="section-text-grey">@aboutPagePoints.Description</p>
                    </div>
                </div>

            }
        </div>
    </div>
</section>